<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos del Gato</title>
    <!-- Bootstrap CSS -->
    <script src="./css/index.css"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div class="container">
        <h1 class="text-center">Buscar Raza de Gato</h1>
        <div class="input-group mb-3">
            <div>
                <select id="opciones" name="opciones" multiple size="5">
                </select>
            </div>
            <br><br><br><br><br>
            <div class="input-group-append">
                <button id="searchButton" class="btn btn-primary">Buscar</button>
            </div>
        </div>
        <div id="result" class="text-center"></div>
    </div>

    <!-- Bootstrap JS (opcional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="index.js"></script>
    <script src="index2.js"></script>
</body>
</html>